n8n/workflows/Notificación Nuevo Ticket.json
{
  "name": "Notificación Nuevo Ticket",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nuevo-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4362efd-23d2-46d8-b332-bb712d7badf0",
      "name": "Webhook Nuevo Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ],
      "webhookId": "nuevo-ticket"
    },
    {
      "parameters": {
        "fromEmail": "soporte@tcleverflix.com",
        "toEmail": "={{ $json.body.client_email }}",
        "subject": "=Hemos recibido tu ticket de soporte [{{ $json.body.ticket_id }}]",
        "emailFormat": "html",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Ticket Recibido</title>\n    <style>\n        body {\n            font-family: 'Inter', Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            margin: 0;\n            padding: 0;\n            background-color: #f9fafb;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            border-radius: 12px;\n            overflow: hidden;\n            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n        }\n        .header {\n            background: linear-gradient(135deg, #3b82f6, #1e40af);\n            padding: 40px 30px;\n            text-align: center;\n        }\n        .header h1 {\n            color: #ffffff;\n            margin: 0;\n            font-size: 28px;\n            font-weight: 600;\n        }\n        .content {\n            padding: 40px 30px;\n        }\n        .ticket-info {\n            background-color: #f3f4f6;\n            border-radius: 8px;\n            padding: 20px;\n            margin: 20px 0;\n            border-left: 4px solid #3b82f6;\n        }\n        .ticket-id {\n            font-size: 24px;\n            font-weight: 600;\n            color: #3b82f6;\n            margin-bottom: 10px;\n        }\n        .footer {\n            background-color: #f9fafb;\n            padding: 30px;\n            text-align: center;\n            border-top: 1px solid #e5e7eb;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🎫 Tecleverflix</h1>\n            <p style=\"color: #bfdbfe; margin: 10px 0 0 0;\">Sistema de Soporte Informático</p>\n        </div>\n\n        <div class=\"content\">\n            <h2>¡Hola {{ $json.body.client_name }}!</h2>\n\n            <p>Hemos recibido tu solicitud de soporte y queremos confirmarte que ya estamos trabajando en ella.</p>\n\n            <div class=\"ticket-info\">\n                <div class=\"ticket-id\">Ticket #{{ $json.body.ticket_id }}</div>\n                <p><strong>Asunto:</strong> {{ $json.body.subject }}</p>\n                <p><strong>Descripción:</strong> {{ $json.body.description }}</p>\n                <p><strong>Celular:</strong> {{ $json.body.client_phone }}</p>\n                <p><strong>Departamento:</strong> {{ $json.body.department }}</p>\n                <p><strong>Prioridad:</strong> <span style=\"text-transform: uppercase; font-weight: bold; color: #f59e0b;\">{{ $json.body.priority }}</span></p>\n            </div>\n\n            <p><strong>¿Qué sucede ahora?</strong></p>\n            <ul>\n                <li>Nuestro equipo técnico revisará tu solicitud</li>\n                <li>Te contactaremos dentro de las próximas 24 horas</li>\n                <li>Recibirás actualizaciones por email cuando haya novedades</li>\n            </ul>\n\n            <p>Si necesitas añadir información adicional o tienes preguntas urgentes, responde a este email mencionando el número de ticket.</p>\n        </div>\n\n        <div class=\"footer\">\n            <p style=\"margin: 0; color: #6b7280; font-size: 14px;\">Gracias por confiar en Tcleverflix - Sistema de Soporte Informático</p>\n            <p style=\"margin: 5px 0 0 0; color: #9ca3af; font-size: 12px;\">© 2025 Tcleverflix. Todos los derechos reservados.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "2726a58f-2244-4fa5-ae36-1774ca7df278",
      "name": "Email al Cliente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "d9f7067c-b42f-48df-accc-39ea10f619c2",
      "credentials": {
        "smtp": {
          "id": "tZJkPxhglw1Kfyf1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "=soporte@tcleverflix.com",
        "toEmail": "=teamwork@tcleverflix.com",
        "subject": "=🚨 Nuevo Ticket Creado: #{{ $json.body.ticket_id }} por {{ $json.body.client_name }}",
        "emailFormat": "html",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: Arial, sans-serif; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .ticket-card { background-color: #f3f4f6; padding: 20px; border-radius: 8px; border-left: 4px solid #ef4444; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>🚨 Nuevo Ticket Creado</h1>\n\n        <div class=\"ticket-card\">\n            <h2>Ticket #{{ $json.body.ticket_id }}</h2>\n            <p><strong>Cliente:</strong> {{ $json.body.client_name }} ({{  $json.body.client_email }})</p>\n            <p><strong>Asunto:</strong> {{ $json.body.subject }}</p>            \n            <p><strong>Celular:</strong> {{ $json.body.client_phone }}</p>\n            <p><strong>Departamento:</strong> {{ $json.body.department }}</p>\n            <p><strong>Descripción:</strong></p>\n            <p style=\"background-color: white; padding: 15px; border-radius: 6px;\">{{ $json.body.description }}</p>\n            <p><strong>Prioridad:</strong> <span style=\"text-transform: uppercase; color: #ef4444;\">{{ $json.body.priority }}</span></p>\n        </div>\n\n        <p>Por favor, asignar y gestionar desde el panel de administración.</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "37795e80-7da6-4a7b-846e-861dbd4e20e6",
      "name": "Email al Equipo",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "webhookId": "12b851b8-e133-4e02-993a-3604920c8b04",
      "credentials": {
        "smtp": {
          "id": "tZJkPxhglw1Kfyf1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notificaciones enviadas\", \"ticketId\": $json.body.ticketId } }}",
        "options": {}
      },
      "id": "ae2c483c-bb39-4971-bd44-027d6ca0a6a7",
      "name": "Respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        224,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Nuevo Ticket": {
      "main": [
        [
          {
            "node": "Email al Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email al Equipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email al Cliente": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email al Equipo": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38076392-1fce-4007-8c72-290118006353",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76c978ccd60073f365d9e2f156abea6a00f03a27610b0ce06fcd5ae6f2e4f9c4"
  },
  "id": "UvMdr27JwF1sCrvk",
  "tags": []
}