n8n/workflows/Notificación Cierre Ticket.json
{
  "name": "Notificación Cierre Ticket",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cerrar-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6df78713-180c-4184-8901-fc6799052d9b",
      "name": "Webhook Cerrar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "cerrar-ticket"
    },
    {
      "parameters": {
        "fromEmail": "=soporte@tcleverflix.com",
        "toEmail": "={{ $json.body.client_email }}",
        "subject": "=Tu ticket #{{ $json.body.ticket_id }} ha sido resuelto por {{ $json.body.agent_name }}",
        "emailFormat": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #10b981, #059669); padding: 30px; text-align: center; color: white; border-radius: 8px 8px 0 0; }\n        .content { background: #ffffff; padding: 30px; border: 1px solid #e5e7eb; }\n        .success-icon { text-align: center; font-size: 64px; margin: 20px 0; }\n        .ticket-info { background-color: #f3f4f6; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #10b981; }\n        .agent-card { background: linear-gradient(135deg, #667eea, #764ba2); color: white; padding: 20px; border-radius: 8px; margin: 20px 0; text-align: center; }\n        .status-badge { display: inline-block; padding: 8px 16px; background-color: #10b981; color: white; border-radius: 20px; font-size: 14px; font-weight: bold; }\n        .footer { background-color: #f9fafb; padding: 20px; text-align: center; border-radius: 0 0 8px 8px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1 style=\"margin: 0;\">✅ Ticket Resuelto</h1>\n            <p style=\"margin: 10px 0 0 0;\">Tu solicitud ha sido completada</p>\n        </div>\n\n        <div class=\"content\">\n            <div class=\"success-icon\">🎉</div>\n\n            <h2 style=\"text-align: center;\">¡Excelentes noticias, {{ $json.body.client_name }}!</h2>\n\n            <p style=\"text-align: center; font-size: 16px;\">\n                Nos complace informarte que tu ticket de soporte ha sido <strong>resuelto exitosamente</strong>.\n            </p>\n\n            <div class=\"ticket-info\">\n                <div style=\"font-size: 20px; font-weight: bold; color: #10b981; margin-bottom: 10px;\">\n                    Ticket #{{ $json.body.ticket_id }}\n                </div>\n                <div style=\"font-size: 16px; margin-bottom: 15px;\">\n                    {{ $json.body.subject }}\n                </div>\n                <span class=\"status-badge\">CERRADO</span>\n            </div>\n\n            <div class=\"agent-card\">\n                <div style=\"font-size: 14px; opacity: 0.9; margin-bottom: 8px;\">\n                    ✨ Resuelto por\n                </div>\n                <div style=\"font-size: 24px; font-weight: bold; margin-bottom: 8px;\">\n                    {{ $json.body.agent_name }}\n                </div>\n                <div style=\"font-size: 14px; opacity: 0.9;\">\n                    Agente de Soporte - Tcleverflix\n                </div>\n                <div style=\"font-size: 14px; opacity: 0.9; margin-top: 8px;\">\n                    📧 {{ $json.body.agent_email }}\n                </div>\n            </div>\n\n            <h3 style=\"color: #10b981;\">¿Qué sigue ahora?</h3>\n            <ul style=\"line-height: 1.8;\">\n                <li>Tu problema debería estar completamente solucionado</li>\n                <li>Puedes seguir usando nuestros servicios normalmente</li>\n                <li>Si necesitas ayuda adicional, no dudes en contactarnos</li>\n            </ul>\n\n            <div style=\"background-color: #f0fdf4; border: 1px solid #bbf7d0; border-radius: 8px; padding: 20px; margin: 20px 0; text-align: center;\">\n                <h3 style=\"color: #10b981; margin-top: 0;\">💚 ¿Cómo fue tu experiencia?</h3>\n                <p style=\"margin-bottom: 0;\">\n                    Nos encantaría conocer tu opinión sobre la atención recibida por <strong>{{ $json.body.agent_name }}</strong>\n                </p>\n            </div>\n\n            <p><strong>¿Necesitas más ayuda?</strong></p>\n            <p>Si tienes alguna pregunta adicional, puedes:</p>\n            <ul>\n                <li>Responder a este email para contactar directamente con {{ $json.body.agent_name }}</li>\n                <li>Crear un nuevo ticket si es un problema diferente</li>\n            </ul>\n        </div>\n\n        <div class=\"footer\">\n            <p style=\"margin: 0; color: #6b7280; font-size: 14px;\">\n                Gracias por confiar en <strong>Tcleverflix</strong> - Sistema de Soporte Informático\n            </p>\n            <p style=\"margin: 5px 0 0 0; color: #9ca3af; font-size: 12px;\">\n                Siempre a su disposición\n            </p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "6a010458-27f7-4ae3-aba4-9ad2d30bd7be",
      "name": "Email Cierre",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "webhookId": "2151b337-ef66-461a-a958-81b518ead690",
      "credentials": {
        "smtp": {
          "id": "tZJkPxhglw1Kfyf1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notificación de cierre enviada\", \"ticketId\": $json.body.ticketId } }}",
        "options": {}
      },
      "id": "65273ae7-98b5-425f-9fe8-4d3421570163",
      "name": "Respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Cerrar": {
      "main": [
        [
          {
            "node": "Email Cierre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Cierre": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "486f31f8-5284-4213-a005-71d560f387d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76c978ccd60073f365d9e2f156abea6a00f03a27610b0ce06fcd5ae6f2e4f9c4"
  },
  "id": "9TKper49WL8xeyQa",
  "tags": []
}